statemachine/retrieve_joke.asl.json
{
    "Comment": "A state machine that retrieves jokes and stores them in a job table.",
    "StartAt": "Init Job",
    "States": {
      "Init Job": {
        "Type": "Task",
        "Resource": "arn:aws:states:::dynamodb:putItem",
        "Parameters": {
          "TableName": "workbench-step-functions-JokesJobTable-3233L1X29PG3",
          "Item": {
            "Id": {
              "S.$": "$.ref"
            },
            "Status": "CREATED"
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "States.TaskFailed"
            ],
            "IntervalSeconds": 20,
            "MaxAttempts": 5,
            "BackoffRate": 10
          }
        ],
        "ResultPath": null,
        "Next": "Retrieve Joke"
      },
      "Retrieve Joke": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:eu-central-1:985043000596:function:workbench-step-functions-RetrieveJokeFunction-71psfHIVOdcl",
        "Retry": [
          {
            "ErrorEquals": [
              "States.TaskFailed"
            ],
            "IntervalSeconds": 15,
            "MaxAttempts": 5,
            "BackoffRate": 1.5
          }
        ],
        "Next": "Update Job Details"
      },
      "Update Job Details": {
        "Type": "Task",
        "Resource": "arn:aws:states:::dynamodb:putItem",
        "Parameters": {
          "TableName": "workbench-step-functions-JokesJobTable-3233L1X29PG3",
          "Item": {
            "Id": {
              "S.$": "$.id"
            },
            "Text": {
              "S.$": "$.text"
            },
            "Timestamp": {
              "S.$": "$.timestamp"
            },
            "Status": "FINISHED"
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "States.TaskFailed"
            ],
            "IntervalSeconds": 20,
            "MaxAttempts": 5,
            "BackoffRate": 10
          }
        ],
        "End": true
      }
    }
  }
  